services:
  - type: web
    name: fraudshield-backend
    env: python
    region: oregon
    plan: free
    
    buildCommand: >
      pip install --upgrade pip &&
      pip install -r requirements.txt
    
    startCommand: >
      python app.py
    
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: PORT
        value: 8000
      - key: FLASK_ENV
        value: production
